body, html{
  scroll-behavior: smooth;
}

/* Welcome message */
.welcome-message{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  max-width: 250px;
  width: 100%;
  background:rgb(0,0,0);
  background: rgba(0, 0, 0, 0);
  padding-top: 100px;
}
.welcome-message .card{
  margin: auto;
  width: 100%;
}
.welcome-message .card .card-header{
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  color: green;
  text-transform: uppercase;
}

/* Header Style Css */
.header{
    position: relative;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    background: url('../images/web-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
  .header-content{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2.5rem 0;
    max-width: 920px;
    width: 100%;
  }
  .header-content .heading-title, .heading-sub-title{
    padding:0 1.5rem;
  }
  .header-content .heading-sub-title{
    padding:0 1.5rem;
  }
  .text-container{
    height: 50px;
    overflow: hidden;
  }

  .text b{
    color: green;
    padding-right:15px;
    font-size: 2.5rem;
  }
  .text span{
    color: #fff;
    font-size: 1rem;
  }
  #arrowUp{
    position: fixed;
    z-index: 200;
    right: 20px;
    bottom: 10px;
    background-color: rgb(10, 122, 70);
    padding: 0.5rem 0.5rem;
    color: #fff;
    cursor: pointer;
  }

  /* Logo Style Css */
.logo-content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .logo-content h1{
    width: 100%;
    font-size: 70px;
    text-align: center;
    color:#fff;
    font-weight: 700;
  }
  .slideShow{
    max-width: 700px;
    width: 100%;
  }

  /* ScrollYProgress */
  .scrollY{
    position: fixed;
    top:20%;
    left:10%;
    border: 5px solid gold;
    z-index: 100;
    display: none;
  }

  .buttons{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .buttons button{
    max-width: 250px;
    width: 100%;
    padding: 0.5rem 0.5rem;
    background-color: rgb(13, 133, 83);
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 4px;
    border: 1px solid #fff;
  }
  .buttons button:hover{
    background: transparent;
    border: 1px solid #fff;
  }

  /* Animation */
  .wrapper {
    display:flex;
    flex-direction: column;
  }
  .wrapper .static-txt {
    color: #fff;
    font-size: 30px;
    text-align: center;
  }
  .wrapper .dynamic-txts {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
  }
  .dynamic-txts li b{
    color: gold;
    margin-right: 15px;
    font-size: 30px;
  }
  .dynamic-txts li {
    color: rgb(4, 214, 74);
    list-style: none;
    font-size: 25px;
    position: relative;
    top: 0;
    animation: slide 10s steps(5) infinite;
  }
  @keyframes slide {
    100% {
      top: -280px;
    }
  }


  /* Media queries */
  @media screen and (max-width:720px){
    .header-content .heading-title, .heading-sub-title{
      padding:0 0.5rem;
    }
    .header-content .heading-sub-title{
      padding:0 0.5rem;
    }
    .logo-content h1{
      font-size: 50px;
    }
    .logo-content p{
      text-align: center;
    }
  }
  